.search_hero__content_login_inscription
  background-color: var(--mainColor)
//padding-top: 34%

.form-login-inscription
  width: 64%
  margin-left: auto
  margin-right: auto
  padding: 15px
  background-color: rgba(255, 255, 255, 0.24)

.error-message
  display: none
  color: #ea1919

input:invalid[focused="true"] ~ span
  display: block

input:invalid[focused="true"]
  border-bottom: 2px solid #ea1919


