@import url('https://fonts.googleapis.com/css2?family=Sono:wght@511&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sono', sans-serif;
}

:root{
    --mainColor: #e07b7b;
    --mainColorLight: #ea1919;
    --secondaryColor: #ffefef;
    --textColor: #eee;
    --textColorMenu: #000000;
}