@import "main.css";

.search_hero {
    background-color: var(--mainColor);
    position: relative;
    z-index: 10;
}

@media only screen and (max-width: 1024px) {
    .search_hero {
        background-color: var(--mainColor);
    }
}